html,
body {
    background-color: #456CB1;
}

.LoadingSpinner-content{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: #456db17e;
}

.LoadingSpinner {
  position: absolute;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .LoadingSpinner .magnif {
    z-index: 1000;
  }