.ActivityList{
    background-color: white;
    width: 375px;
    height: 100%;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.ActivityList a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.emoji {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.Activity {
    display: flex;
    align-items: center;
    width: 340px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.name {
    text-decoration: none;
}

.act-h1{
    color: #282892;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.act-p{
    color:#282892;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.activity-container {
    background-color: white;
    border-radius: 20px;
    max-width: 360px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.activity-image{
    display: flex;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.activity-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    
}

.ActivityBox{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 120px;
    z-index: -1000;
}

.actiBox{
    width: 100%;
}