.Mood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #456CB1;
    color: white;
}


.MoodButton {
    background-color: rgba(255, 255, 255, 0.53);
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.MoodButton a {
    font-size: 25px;
    text-decoration: none;
}



.MoodButton:active{
    background-color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.MoodButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.MoodUl {
    max-width: 375px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #456CB1; 
}