.navbar {
    display: flex;
    position: fixed;
    bottom:0;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    height: 80px;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 05);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.05);
}
