.Profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #456CB1;
    color: white;
}

.graph{
    width: 330px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.profile-name-btn{
    width: 40%;
    padding: 20px;
    background-color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
    overflow: hidden;
    background: #dcfaff;
    border-radius: 25px;
    border: 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.profile-image{
    width:110px;
    height:110px;
    border-radius: 50%;
    border: 10px;
    border-style: solid;
    border-color: white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.profileImage-btn{
    margin-top: 20px;
    width: 40%;
    padding: 20px;
    background-color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
    overflow: hidden;
    background: #dcfaff;
    border-radius: 25px;
    border: 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.image-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(5, 166, 187);
    border-radius: 25px;
    padding: 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.MoodsOverTime{
    background-color: rgb(255, 134, 21);
    border-radius: 25px;
    margin:10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.ProfileHeader h1, .ProfileHeader h3, .ProfileHeader p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.change-form {
    margin-top: 20px;
}

.submit-btn {
    margin-top: 10px;
    width: 40%;
    padding:10px;
    border-radius: 25px;
    background-color:#5EBD6D;
    color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}