.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #456CB1;
    color: white;
}

.graph{
    width: 350px;
}

.profile-name-btn{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}